/* Overall layout styles */
.App {
  background-color: #f9f9f9; /* Change background color to a light gray */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-family: 'Arial', sans-serif; /* Change font family to Arial */
  color: #555; /* Darken text color for better contrast */
  text-align: center; /* Center-align text */
  line-height: 1.8; /* Increase line height for better readability */
}

/* Logo styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 20px; /* Add margin at the bottom for spacing */
}

/* Animation styles */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px; /* Add padding for spacing */
}

/* Link styles */
.App-link {
  color: #61dafb;
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.App-link:hover {
  color: #00bcd4; /* Change link color on hover */
}

/* Animation keyframes */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}